<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {% load static %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico'%} ">

    <title>Continuous Piecewise Linear Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <!--控制台样式-->
    <link href="{% static 'bootstrap-4.1.1-dist/css/dashboard.css'%}" rel="stylesheet">
    <!--layui-->
    <link rel="stylesheet" href="{% static 'layui2/css/layui.css'%}"  media="all">
    <script src="{% static 'layui2/layui.js'%}" charset="utf-8"></script>
    <script src="{% static 'js/js.cookies.js'%}" charset="utf-8"></script>
    <style type="text/css">
        #mynetwork2 {
            width: 800px;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>
    <script type="text/javascript" src="{% static 'vis/vis.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'vis/vis.js'%}"></script>
    <link href="{% static 'vis/vis-network.min.css'%}" rel="stylesheet" type="text/css">
<!--自定义js-->
    <script src="{% static 'js/tableOperation.js'%}"></script>
    <script src="{% static 'js/formOperation.js'%}"></script>
    <style type="text/css">
        .small-font { font-size: 1.5vw;}
        .collapse-disable {transition: none !important;}
    </style>
</head>
<body>
<!--弹出页面2）-->
    <div class="container-fluid row" id="popUpAdvSearchDivs" style="width:600px">
        <div id="advanceSearchPerson" class="collapse in" style="border:1px solid #000;margin-top:10px;margin-bottom:10px">
            <form class="layui-form" action="">
                <!--全名-->
                <div class="layui-form-item" id="queriedPerson-fullname">
                    <label class="layui-form-label" style="width:100px">Full Name</label>
                    <div class="layui-input-block">
                        <input type="text" name="full_name" placeholder="Full Name" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--Chinese Name-->
                <div class="layui-form-item" id="queriedPerson-name_ch">
                    <label class="layui-form-label" style="width:100px">中文名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name_ch" placeholder="中文名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--Institution-->
                <div class="layui-form-item" id="queriedPerson-institution">
                    <label class="layui-form-label" style="width:100px">Institution</label>
                    <div class="layui-input-block">
                        <input type="text" name="institution" placeholder="Institution" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--研究兴趣-->
                <div class="layui-form-item" id="queriederson-research_interest">
                    <label class="layui-form-label" style="width:100px;margin-right:10px" >Authors</label>
                    <div class="layui-input-block ">
                        <input type="text" name="research_interest" placeholder="Research Interest" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--按钮建-->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="searchPerson">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" lay-submit lay-filter="resetSearchPersonPanel">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!--搜索结果表格-->
        <div id="queriedPersonsDiv" class="collapse" style="border:1px solid #000;margin-top:10px;margin-bottom:10px">
            <table class="layui-hide" id="personTableAfterSearch" lay-filter="personTableAfterSearch"></table>
        </div>
    </div>
    <script>
        window.onload = function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.iframeAuto(index);//添加这行也不能自适应
            layer.iframeAuto(index);//使用这行也不能自适应
        }
    </script>

    <script type="text/html" id="toolbarPopUpGetData">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData" id="chooseButtonPopUp">选择</button>
        </div>
    </script>

    <script>
        var searchPersonService = '/search-person/';
        layui.use(['element', 'form', 'layedit', 'table', 'code'], function(){//element只用来让选项卡工作
            var form = layui.form
                ,layer = layui.layer
                ,table = layui.table
                ,$ = layui.$;
                  
            //其他input回车不提交 
            $(".layui-input").keydown(function(event){  
                if (event.keyCode == 13){  
                    return false;
                }  
            }); 
            //按钮4-2：高级搜索（人）
            form.on('submit(searchPerson)', function(data){
                console.log("提交的表单数据：" + JSON.stringify(data.field));
                console.log("查找数据库....");
                advanceSearchPersonHandler('queriedPersonsDiv', '', 'personTableAfterSearch', 'personSearchTableContent', 'toolbarPopUpGetData', data, table, searchPersonService);
                return false;
            });
            //按钮1：选择人的表格
            table.on('toolbar(personTableAfterSearch)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;//获取被选文献的内容
                var selectedPersonInfo = data[0];
                if (data.length < 1){
                    layer.msg("未选择文献！", {
                        time: 5000, //5s后自动关闭
                        btn: ['ok'],
                        icon:5
                    });
                }else{//将数据直接更新到父页面中
                    showRelNodeDetail('addRelInfo', selectedPersonInfo);
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
                return false;
            });
        });
        //(8)查看数据&新增关系面板中，高级搜索（人）的div处理过程,
            //advSearchDivID:高级搜索框div，editPubDivID：编辑文献框div，resultTableFilter：搜索结果表格过滤器（定位）
            //resultTableID：搜索结果表格ID，没用，toolbarID：搜索结果确认按钮ID， data：高级搜索传入的数据
            function advanceSearchPersonHandler(advSearchDivID, editDivID, resultTableFilter, resultTableID, toolbarID, data, table, searchService){
                var $ = layui.$;
                // todo 处理搜索条件
                //parameters = {"full_name":data.field.full_name
                    //, "startTime":data["startTime"]
                    //, "endTime": data["endTime"]
                //    , "paperType": data["paperType"]}
                $('#' + advSearchDivID).attr("class", "collapse in");
                if (editDivID != "") {
                    $('#' + editDivID).attr("class", "collapse");
                }
                table.render(
                    {
                        elem: '#' + resultTableFilter
                        ,id: resultTableID
                        ,url: searchService
                        ,toolbar: '#' + toolbarID
                        ,method: 'post'
                        ,where: {"full_name":data.field.full_name}
                        //,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                        ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            ,groups: 5 //只显示 1 个连续页码
                            ,first: false //不显示首页
                            ,last: false //不显示尾页
                        }
                        ,limit: 10
                        ,cols: [[{type:'radio'}
                            ,{field:"ID", width:60, title: 'ID', sort: true}
                            ,{field:'full_name', width:200, title: 'Full Name', sort: false}
                            ,{field:'first_name', width:200, title: 'First Name', sort: false}
                            ,{field:'middle_name', width:200, title: 'Middle Name'}
                            ,{field:'last_name', title: 'Last Name', width: '200', minWidth: 10} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                            ,{field:'name_ch', title: '中文名', width: '70', minWidth: 10} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                            ,{field:'last_name_ch', width: '100', title: '姓', sort: true}
                            ,{field:'first_name_ch', width: '100', title: '名', sort: false}
                            ,{field:'institution', width: '100', title: 'Institution', sort: false}
                            ,{field:'research_interest', width: '100', title: 'Research Interest', sort: false}
                            ,{field:'note', width: '200', title: 'Note', sort: false}
                        ]]
                        ,done: function(res, curr, count){;
                            console.log(res);
                        }
                    }
                );
                return false;
            }
            //（6）新增关系面板中，点击起讫点之后，向底下的显示框中增加节点信息
            function showRelNodeDetail(infoDicID, addedInfo){
                var text = window.parent.document.getElementById(infoDicID).innerText;
                if (text==""){
                    text = {};
                }else{
                    text = JSON.parse(text);
                }

                for (var tmpKey in addedInfo){
                    text[tmpKey] = addedInfo[tmpKey];
                }
                text  = JSON.stringify(text, null, 2);
                window.parent.document.getElementById(infoDicID).innerText = text;
                layui.code();
                layui.form.render();
            }
    </script>
</body>
</html>