<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {% load static %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico'%} ">

    <title>Continuous Piecewise Linear Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <!--控制台样式-->
    <link href="{% static 'bootstrap-4.1.1-dist/css/dashboard.css'%}" rel="stylesheet">
    <!--layui-->
    <link rel="stylesheet" href="{% static 'layui2/css/layui.css'%}"  media="all">
    <script src="{% static 'layui2/layui.js'%}" charset="utf-8"></script>
    <script src="{% static 'js/js.cookies.js'%}" charset="utf-8"></script>
    <style type="text/css">
        #mynetwork2 {
            width: 800px;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>
    <script type="text/javascript" src="{% static 'vis/vis.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'vis/vis.js'%}"></script>
    <link href="{% static 'vis/vis-network.min.css'%}" rel="stylesheet" type="text/css">
<!--自定义js-->
    <script src="{% static 'js/tableOperation.js'%}"></script>
    <script src="{% static 'js/formOperation.js'%}"></script>
    <style type="text/css">
        .small-font { font-size: 1.5vw;}
        .collapse-disable {transition: none !important;}
    </style>
</head>
<body>
<!--弹出页面1）-->
    <div class="container-fluid row" id="popUpAdvSearchDivs" style="width:600px">
        <!--高级搜搜框-->
        <div id="advanceSearchVenue" class="collapse in" style="border:1px solid #000;margin-top:10px;margin-bottom:10px">
            <form class="layui-form" action="">
                <!--Venue Name-->
                <div class="layui-form-item" id="queriedVenue-venue_name">
                    <label class="layui-form-label" style="width:100px">Venue Name</label>
                    <div class="layui-input-block">
                        <input type="text" name="venue_name" placeholder="Venue Name" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--Abbr-->
                <div class="layui-form-item" id="queriedVenue-abbr">
                    <label class="layui-form-label" style="width:100px">Abbr.</label>
                    <div class="layui-input-block">
                        <input type="text" name="abbr" placeholder="Abbr" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--publisher-->
                <div class="layui-form-item" id="queriedVenue-publisher">
                    <label class="layui-form-label" style="width:100px">Publisher</label>
                    <div class="layui-input-block">
                        <input type="text" name="publisher" placeholder="Publisher" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--start_year-->
                <div class="layui-form-item" id="queriedVenue-start_year">
                    <label class="layui-form-label" style="width:100px">Start Year</label>
                    <div class="layui-input-block">
                        <input type="text" name="start_year" placeholder="Start Year" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--venue_type-->
                <div class="layui-form-item" id="queriedVenue-venue_type">
                    <label class="layui-form-label" style="width:100px">Venue Type</label>
                    <div class="layui-input-block">
                        <input type="text" name="venue_type" placeholder="venue type" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--Indexing-->
                <div class="layui-form-item" id="queriedVenue-indexing">
                    <label class="layui-form-label" style="width:100px;margin-right:10px" >Indexing</label>
                    <div class="layui-input-block">
                        <select name="indexing" multiple>
                            <option value="">其他</option>
                            <option value="0">EI</option>
                            <option value="1">SCI</option>
                            <option value="2">SSCI</option>
                        </select>
                    </div>
                </div>
                <!--按钮建-->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="searchVenue">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" lay-submit lay-filter="resetSearchVenuePanel">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!--搜索结果表格-->
        <div id="queriedVenueDiv" class="collapse" style="border:1px solid #000;margin-top:10px;margin-bottom:10px">
            <table class="layui-hide" id="venueTableAfterSearch" lay-filter="venueTableAfterSearch"></table>
        </div>
    </div>
    <script>
        window.onload = function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.iframeAuto(index);//添加这行也不能自适应
            //layer.iframeAuto(index);//使用这行也不能自适应
        }
    </script>

    <script type="text/html" id="toolbarPopUpGetData">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData" id="chooseButtonPopUp">选择</button>
        </div>
    </script>

    <script>
        var searchVenueService = '/search-venue/';
        layui.use(['element', 'form', 'layedit', 'table', 'code'], function(){//element只用来让选项卡工作
            var form = layui.form
                ,layer = layui.layer
                ,table = layui.table
                ,$ = layui.$;
            //其他input回车不提交 
            $(".layui-input").keydown(function(event){  
                if (event.keyCode == 13){  
                    return false;
                }  
            }); 
            //按钮4-3：高级搜索（venue）
            form.on('submit(searchVenue)', function(data){
                console.log("提交的表单数据：" + JSON.stringify(data.field));
                console.log("查找数据库....");
                advanceSearchVenueHandler('queriedVenueDiv', '', 'venueTableAfterSearch', 'venueSearchTableContent', 'toolbarPopUpGetData', data, table, searchVenueService);
                return false;
            });
            //按钮1：选择人的表格
            table.on('toolbar(venueTableAfterSearch)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;//获取被选文献的内容
                var selectedVenueInfo = data[0];
                if (data.length < 1){
                    layer.msg("未选择文献！", {
                        time: 5000, //5s后自动关闭
                        btn: ['ok'],
                        icon:5
                    });
                }else{//将数据直接更新到父页面中
                    var panelID = parent.window.currentClickButton;
                    if (panelID == "relSource"){
                        showRelNodeDetail('addRelSourceInfo', selectedVenueInfo);
                    }else if (panelID == "relTarget"){
                        showRelNodeDetail('addRelTargetInfo', selectedVenueInfo);
                    }
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }
                return false;
            });
        });
            //（6）新增关系面板中，点击起讫点之后，向底下的显示框中增加节点信息
            function showRelNodeDetail(infoDicID, addedInfo){
                var text = window.parent.document.getElementById(infoDicID).innerText;
                if (text==""){
                    text = {};
                }else{
                    text = JSON.parse(text);
                }

                for (var tmpKey in addedInfo){
                    text[tmpKey] = addedInfo[tmpKey];
                }
                text  = JSON.stringify(text, null, 2);
                window.parent.document.getElementById(infoDicID).innerText = text;
                layui.code();
                layui.form.render();
            }
            //(9)查看数据&新增关系面板中，高级搜索（venue）的div处理过程,--------searchVenue.html中需要同步修改
            //advSearchDivID:高级搜索框div，editPubDivID：编辑文献框div，resultTableFilter：搜索结果表格过滤器（定位）
            //resultTableID：搜索结果表格ID，没用，toolbarID：搜索结果确认按钮ID， data：高级搜索传入的数据
            function advanceSearchVenueHandler(advSearchDivID, editDivID, resultTableFilter, resultTableID, toolbarID, data, table, searchService){
                var $ = layui.$;
                // todo 处理搜索条件
                //parameters = {"venue_name":data.field.venue_name
                    //, "startTime":data["startTime"]
                    //, "endTime": data["endTime"]
                //    , "paperType": data["paperType"]}
                $('#' + advSearchDivID).attr("class", "collapse in");
                if (editDivID != "") {
                    $('#' + editDivID).attr("class", "collapse");
                }
                table.render(
                    {
                        elem: '#' + resultTableFilter
                        ,id: resultTableID
                        ,url: searchService
                        ,toolbar: '#' + toolbarID
                        ,method: 'post'
                        ,where: {"venue_name":data.field.venue_name}
                        //,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                        ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                            //,curr: 5 //设定初始在第 5 页
                            ,groups: 5 //只显示 1 个连续页码
                            ,first: false //不显示首页
                            ,last: false //不显示尾页
                        }
                        ,limit: 10
                        ,cols: [[{type:'radio'}
                            ,{field:"ID", width:60, title: 'ID', sort: true}
                            ,{field:'venue_name', width:200, title: 'Venue Name', sort: false}
                            ,{field:'abbr', width:200, title: 'Abbr.', sort: false}
                            ,{field:'publisher', width:200, title: 'Publisher'}
                            ,{field:'start_year', title: 'Start Year', width: '200', minWidth: 10} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                            ,{field:'indexing', title: 'Indexing', width: '70', minWidth: 10} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                            ,{field:'venue_type', width: '100', title: 'Venue Type', sort: true}
                            ,{field:'note', width: '200', title: 'Note', sort: false}
                        ]]
                        ,done: function(res, curr, count){;
                            console.log(res);
                        }
                    }
                );
                return false;
            }
    </script>
</body>
</html>